.btn {
  @include font-set(700, 18px, 18px);

  box-sizing: border-box;
  font-family: $font-primary;
  color: $secondary-color;
  border: 3px solid $secondary-color;
  border-radius: 50px;

  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

@include media_queries(L) {
  .btn {
    @include font(21px, 21px);
  }
}
