.gallery {
  width: 100%;
}

.gallery__wrapper {
  @include margin-center();

  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

@include media_queries_m() {
  .gallery__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-right: 10px;
    padding-left: 10px;
  }
}

@include media_queries_l() {
  .gallery__wrapper {
    padding-right: 0;
    padding-left: 0;

    width: 960px;
  }
}
