.reviews {
  padding-bottom: 45px;

  &__svg {
    display: none;
  }

  &__pager {
    display: none;
  }

  &__item {
    margin-top: 42px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    padding-right: 20px;
    padding-left: 20px;
  }

  &__footer {
    @include font(18px, 30px);

    font-style: normal;
    text-align: center;
  }

  &__author {
    display: block;
  }

  &__author-desc {
    display: none;
  }

  &__text {
    @include font(14px, 30px);

    margin-top: 13px;
    margin-bottom: 0;

    text-align: center;
  }
}

@include media_queries_m() {
  .reviews {
    padding-bottom: 24px;

    &__wrapper {
      @include margin-center();

      box-sizing: border-box;
      width: 660px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
    }

    &__footer {
      order: 1;

      margin-top: 35px;
    }

    &__author {
      @include font(20px, 30px);

      margin-bottom: 2px;
    }

    &__author-desc {
      @include font(14px, 30px);

      display: block;
    }

    &__text {
      @include font(18px, 30px);
    }
  }
}

@include media_queries_l() {
  .reviews {
    position: relative;
    padding-top: 18px;
    padding-bottom: 35px;

    &__svg {
      position: absolute;

      top: 73px;
      right: 0;
      left: 3px;

      display: block;
      margin-right: auto;
      margin-left: auto;

      fill: $eleventh-color;

      width: 79px;
      height: 63px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 150px;
      width: 960px;
    }

    &__pager {
      @include font(0, 0);

      position: relative;

      display: block;
      margin-top: 45px;

      background-color: transparent;
      border: none;

      width: 22px;
      height: 41px;

      &::before {
        @include absolute-pseudo-element();

        top: 5px;

        box-sizing: border-box;
        border-width: 2px;
        border-style: solid;
        border-color: transparentize($primary-color, 0.7);
        transform: rotate(45deg);

        transition-property: border-color;
        transition-duration: 0.15s;

        width: 30px;
        height: 32px;
      }

      &:hover::before {
        border-color: transparentize($primary-color, 0.4);
      }

      &:active::before {
        border-color: transparentize($primary-color, 0.9);
      }

      &--prev {
        margin-left: 11px;

        &::before {
          right: -14px;

          border-top: transparent;
          border-right: transparent;
        }
      }

      &--next {
        margin-right: 11px;

        &::before {
          left: -14px;

          border-left: transparent;
          border-bottom: transparent;
        }
      }
    }

    &__item {
      margin-top: 4px;
      width: 700px;
    }

    &__footer {
      margin-top: 36px;
    }

    &__author {
      @include font(24px, 30px);
    }

    &__author-desc {
      font-size: 18px;
    }

    &__controls {
      display: none;
    }
  }
}
