.social {
  @include center();

  box-sizing: border-box;
  height: 51px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 35px;

  &__link {
    position: relative;

    box-sizing: border-box;
    display: block;
    margin-left: 6px;

    font-size: 0;

    border-width: 3px;
    border-style: solid;
    border-color: transparentize($primary-color, 0.7);
    border-radius: 50%;

    transition-duration: 0.25s;
    margin-right: 6px;

    height: 51px;
    width: 51px;

    &:hover {
      border-color: $primary-color;
    }

    &:active {
      opacity: 0.1;
    }
  }

  &__svg {
    position: absolute;

    top: 50%;
    left: 50%;

    fill: $third-color;

    transform: translate(-50%, -50%);
  }
}

@include media_queries_m() {
  .social {
    width: 320px;
    margin: 0;
  }
}

@include media_queries_l() {
  .social {
    margin-right: 140px;
    margin-left: 163px;
  }
}
